@import '../../../../theme/variables.scss';

.ResetPasswordPage {
  @include container-medium();
  @include container-spacings($padding: 16px);
  @include container-relative();
}

.Links_container {
  padding: 0;
}

.Links_register {
  float: right;
  font-size: $font-size-small;
}

.Links_login {
  font-size: $font-size-small;
}

.SuccessMessage {
  @include success-message-box();
}
