@import '../../../../theme/variables.scss';

.ResetPasswordPage {
  @include container-medium();
  @include container-spacings($padding: 16px);
  @include container-relative();
}

.Links_container {
  padding: 16px 0 0 0;
}

.Links_register {
  float: right;
  font-size: $font-size-small;
}

.Links_login {
  font-size: $font-size-small;
}

.SuccessMessage {
  border: 1px solid $color-green500;
  background-color: $color-green500;
  color: $color-white;
  font-size: $font-size-success;
  margin: 12px 0;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}