@import '../../../../theme/variables.scss';

.LoginPage {
  @include container-medium();
  @include container-spacings($padding: 16px);
  @include container-relative();
}

.Links_container {
  padding: 16px 0 0 0;
}

.Links_resetPassword {
  float: right;
  font-size: $font-size-small;
}

.Links_register {
  font-size: $font-size-small;
}
