@import '../../../../theme/variables.scss';

.ChangePasswordPage {
  @include container-medium();
  @include container-spacings($padding: 16px);
  @include container-relative();
}

.Links_container {
  padding: 0;
}

.Links_login {
  @include link();
  font-size: $font-size-small;
}

.Links_resetpassword {
  @include link();
  font-size: $font-size-small;
}

.Message_container {
  text-align: center;

  .SuccessMessage {
    @include success-message-box();
  }

  .ErrorMessage {
    @include error-message-box();
  }
}
