$font-family: "Helvetica Neue", "Lato", "Roboto", "Helvetica", "Arial",sans-serif;

$font-size-xx-large: 24px;
$font-size-x-large: 22px;
$font-size-larger: 20px;
$font-size-large: 18px;
$font-size-normal: 16px;
$font-size-small: 13px;

$font-size-error: $font-size-small;
$font-size-success: $font-size-small;
