$link-text-color: $blue;

@mixin link($text-color: $blue, $text-decoration: underline, $text-color__hover: lighten($text-color, 10%)) {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active {
    color: $text-color__hover;
    text-decoration: $text-decoration;
  }
}

@mixin input-text-color($color: $color-grey900) {
  color: $color;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus
  &:-webkit-autofill,
  &:-webkit-autofill,
  &:-webkit-autofill:hover
  &:-webkit-autofill:focus,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    box-shadow: 5px 5px 5px rgba(255,255,255,0) !important;
    background-color: rgba(255,255,255,0) !important;
    background-image: none !important;
    transition: background-color 5000s ease-in-out 0s;
    color: $color !important;
    -webkit-text-fill-color: $color;
  }
}
