$screen-size-xs: 400px;
$screen-size-sm: 768px;
$screen-size-md: 992px;
$screen-size-lg: 1200px;

$screen-xs: "(min-width: 400px)";
$screen-sm: "(min-width: 768px)";
$screen-md: "(min-width: 992px)";
$screen-lg: "(min-width: 1200px)";
