@mixin success-message() {
  color: $color-success;
  font-size: $font-size-success;
  line-height: $font-size-success;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@mixin error-message() {
  color: $color-error;
  font-size: $font-size-error;
  line-height: $font-size-error;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@mixin message-box($background-color, $color, $font-size) {
  border: 1px solid $background-color;
  background-color: $background-color;
  color: $color;
  font-size: $font-size;
  margin: 16px 0;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

@mixin success-message-box() {
  @include message-box(
    $background-color: $color-green500,
    $color: $color-grey50,
    $font-size: $font-size-success
  );
}

@mixin error-message-box() {
  @include message-box(
    $background-color: $color-red400,
    $color: $color-grey50,
    $font-size: $font-size-error
  );
}
